<header class="heading">
  <div class="nubes-morioh">
    <img src="img/nubes_morioh_1.svg" alt="">
    <img src="img/nubes_morioh_1.svg" alt="">
    <img src="img/nubes_morioh_1.svg" alt="">
    <img src="img/nubes_morioh_1.svg" alt="">
    <img src="img/nubes_morioh_1.svg" alt="">
    <img src="img/nubes_morioh_1.svg" alt="">
    <img src="img/nubes_morioh_1.svg" alt="">
    <img src="img/nubes_morioh_1.svg" alt="">
    <img src="img/nubes_morioh_1.svg" alt="">
  </div>
  <div class="figure-content">
    <div class="figure1"><img src="img/owl.webp" alt=""></div>
    <div class="figure2">
      <div class="box">
        <input type="text" class="input-search" />
      </div>
    </div>
    <div class="figure3"><img src="img/Morioh_town_insignia_jojolion_ch1.png" alt=""></div>
  </div>
  <nav class="nav-bar">
    <a href="./index.html">Inicio</a>
    <a href="pages/categorias.html">Categorías</a>
    <a href="pages/contacto.html">Contacto</a>
    <a href="pages/tienda.html">Tienda</a>
  </nav>
</header>
